
.main-cover {
    position: absolute;
    background-color: rgb(33, 50, 79);
    width: 100%;
    bottom: 0px;
    height: 0%;
    box-shadow: rgba(0, 27, 56, 0.5) 0px 2px 40px 0px;
    transition : all .5s;
    transform: translateZ(0);
    transform-style: preserve-3d;
  }

  box-loading{
      position: absolute;
      top:40%;
      left:50%;
      transform: translateZ(0);
      transform-style: preserve-3d;
  }
  ion-virtual-scroll{
    height: 85%;
    bottom: 0px;
    width: 100%;
    background-color: transparent;
    transform: translateZ(0);
    transform-style: preserve-3d;
}
ion-label{
    font-family: "Titillium Web";
    font-weight: 400;
    font-size: 12px;
    transform: translateZ(0);
    transform-style: preserve-3d;
    opacity:.8;
}

  in-band{
    height: 85%;
  }
  out-band{
    height: 0%;
  }

  .titleCover{
    font-family: "Titillium Web";
    font-weight: 200;
    font-size: 32px;
    text-align: center;
    width: 100%;
    margin-top:10px;
    margin-bottom:10px;
    color: var(--kup-secondary-blue);
  }

  .textConditions{
    font-family: "Titillium Web";
    font-weight: 400;
    font-size: 26px;
    width: 100%;
    height:100%;
    color: var(--kup-secondary-blue);
    position: relative;
  }
  .btn-conditions{
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 80px;
  }

  btn-main-menu{
    margin: 0 auto;
    position: relative;
    width: 200px;
    height: 42px;
    display: block;
    margin-bottom: 30px;
    top: 0px;
    display: inline-block;
}
  



