
.user-photo {
    background-image: none;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 70px;
    margin: 0px auto;
    position: relative;
    height: 250px;
    width: 250px;
    transform: translateZ(0);
    transform-style: preserve-3d;
  }
  .fullname-text {
      background-image: none;
      background-color: transparent;
      color: var(--kup-secondary-blue);
      font-family: "Titillium Web";
      font-size: 20px;
      margin: 0px auto;
      width: 80%;
      height: 120px;
      text-align: center;
      position: relative;
      top: 5px;
    }
    .tooltip-text {
        background-image: none;
        background-color: transparent;
        color: var( --kup-primary);
        font-family: "Titillium Web";
        font-weight: bold;
        font-size: 40px;
        width: 100%;
        text-align: center;
        margin: 0px auto;
        position: relative;
        top: 10px;
    }
    .grp-data-account {
        left: 0px;
        width: 100%;
        top: 100px;
        height: 700px;
        position: relative;
    }
    .grp-bottom {
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 150px;
        position: absolute;
    }
    btn-main-menu{
        width: 50%;
        height: 60px;
        position: relative;
        left: 50%;
        top: 0;
    }

    .username-text {
        font-family: "Titillium Web";
        color: var(--kup-secondary-blue);
        font-size: 14px;
        text-align: center;
        width: 80%;
        margin: 0px auto;
        position: relative;
        top: 65px;
    }