
<div class="gwd-gen-j13ggwdanimation bg-splash">
    <div class="splash-logo-grp gwd-gen-cwlggwdanimation">
      <img src="assets/imgs/apes4apes-studio-banana-intro.svg" class="splash-logo">
      <img src="assets/imgs/apes4apes-studio-banana-intro.svg" class="splash-logo gwd-img-118b gwd-gen-181mgwdanimation" style="mix-blend-mode: screen; filter: blur(30px);">
    </div>
  </div>

<!-- <audio 
onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 500)">
<source src="assets/sounds/fx/splash/splash-in.wav" type="audio/wav">
</audio> -->