

<ion-grid>
    <ion-row align-items-center>
      <ion-col align-self-center>
        <btn-submenu [btnText] = "'Settings'" [btnImgUrl] ="'/assets/imgs/icons-menu/config.svg'"></btn-submenu>
      </ion-col>
      <ion-col align-self-center>
        <btn-submenu [btnText] = "'Statistics'" [btnImgUrl] ="'/assets/imgs/icons-menu/chart-bar.svg'"></btn-submenu>
      </ion-col>
      <ion-col align-self-center>
        <btn-submenu [btnText] = "'How to'" [btnImgUrl] ="'/assets/imgs/icons-menu/question-circle.svg'"></btn-submenu>
      </ion-col>
    </ion-row>
<ion-grid>