btn-main-menu{
    top: 0px;
    left: 0px;
    position: absolute;
}

big-logo{
    position:absolute;
    width: 350px;
    height:350px;
    top:10%;
    transform: scale(.75);
}

btn-main-menu{
    position:relative;
    width: 243px;
    height: 42px;
    background: red; 
    top:0px;
    left:0px;
}
.center-loader{
    position: absolute;
    width: 100%;
    height: 100px;
    background: red;
}

