<svg id="gwd-svg-definitions">
    <defs>
        <linearGradient gradientUnits="userSpaceOnUse" 
        gradientTransform="rotate(0 175 232)" x2="350" id="grad1237">
            <stop stop-color="rgb(58, 222, 232)" offset="0%"></stop>
            <stop stop-color="rgb(67, 57, 138)" offset="95%"></stop>
        </linearGradient>
    </defs>
</svg>

<div class="main-big-logo">
    <div class="text-big-logo text-center">KUp</div>
    


    <svg class = "big-logo__border-time" width="280px" height="280px" viewBox="0 0 280 280" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <linearGradient x1="1.1282487%" y1="50%" x2="98.6002309%" y2="50%" id="linearGradient-1">
                <stop stop-color="#3ADEE8" offset="0%"></stop>
                <stop stop-color="#43398A" offset="100%"></stop>
            </linearGradient>
        </defs>
        <g id="-symbol" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Artboard" fill-rule="nonzero" stroke="url(#linearGradient-1)" stroke-width="12">
                <circle id="Oval" cx="140" cy="140" r="134"></circle>
            </g>
        </g>
    </svg>

    <!-- <svg data-gwd-shape="oval" preserveAspectRatio="none" 
    viewBox="0 0 350 464" class="gwd-svg-pgpo big-logo__border-gradient">
        <ellipse cx="50%" cy="50%" rx="163.5" ry="220.5"></ellipse>
    </svg> -->
    <!-- bad performance -->
    <!-- <svg data-gwd-shape="oval" preserveAspectRatio="none" 
    viewBox="0 0 350 464" class="big-logo__blur-filter big-logo__border-gradient">
        <ellipse cx="50%" cy="50%" rx="163.5" ry="220.5"></ellipse>
    </svg> -->
</div>



