<div class="main-loading">
  <p class="gwd-gen-1we8gwdanimation loading-text">Loading</p>
  <div class="box-grp-anim">
    <div class="white-box gwd-div-nfgh anim0-gwd-gen-omydgwdanimation"></div>
    <div class="white-box gwd-div-1wrp gwd-div-18u7 anim-2-gwd-gen-1jpogwdanimation" style="left: 25px;"></div>
    <div class="white-box gwd-div-1wrp gwd-gen-1nxqgwdanimation gwd-div-1liu" style="left: 50px;"></div>
    <div class="white-box gwd-gen-1x0qgwdanimation gwd-div-sbub" style="top: 25px;"></div>
    <div class="white-box gwd-div-1wrp gwd-gen-6pc2gwdanimation gwd-div-eq1w" style="left: 25px; top: 25px;"></div>
    <div class="white-box gwd-div-1wrp gwd-gen-n156gwdanimation gwd-div-sz7l" style="left: 50px; top: 25px;"></div>
    <div class="white-box gwd-gen-97stgwdanimation gwd-div-suqi" style="top: 50px;"></div>
    <div class="white-box gwd-div-1wrp gwd-gen-1gtmgwdanimation gwd-div-1h1w" style="left: 25px; top: 50px;"></div>
    <div class="white-box gwd-div-1wrp gwd-gen-bizkgwdanimation gwd-div-br19" style="left: 50px; top: 50px;"></div>
  </div>
</div>