
<ion-content>
    <main-menu-bg></main-menu-bg>
    <ion-grid>
        <ion-row justify-content-center>
            <big-logo></big-logo>
        </ion-row>
    </ion-grid>
</ion-content>

<!-- Progress Bar -->
<progress-bar *ngIf="!isloadingEnd" 
[progressBarValue] = 'progressBarValue'></progress-bar>

<!-- Login -->
<div *ngIf="isloadingEnd" class = "btn-logins">
    <btn-main-menu
    [iWidth]='175'
    [btnText] = "'Google Account'"> </btn-main-menu>
    <btn-main-menu 
    [iWidth]='175'
    [btnText] = "'Guest'"> </btn-main-menu>
</div>