<!-- Background with main buttons menu -->
<div class="backBG2"></div>

<btn-grp-submenu
*ngIf="subMenu"></btn-grp-submenu>

<div class="backBG2Shadow"></div>
<main-menu-bg
[ngStyle]="{'top.px': openBgPosition }">
</main-menu-bg>

<!-- logo with cronometer -->
<big-logo></big-logo>

<!-- Progress Bar -->
<progress-bar *ngIf="!isloadingEnd" [progressBarValue] = 'progressBarValue'></progress-bar>

<!-- Login -->
<div *ngIf="isloadingEnd && isLogin" class = "btn-logins">
    <btn-main-menu 
    (touchstart)="clickExitLogin('LOGIN')"
    [iWidth]='175' [btnText] = "'Login'"> </btn-main-menu>
    <btn-outline
    (touchstart)="clickExitLogin('GUEST')"
    [iWidth]='175' [btnText] = "'Guest'"> </btn-outline>
</div>

<!-- Nationality and Conditions for google accounts -->
<app-google-account (closeAccount) = "closeAccount()"
*ngIf="!isLogin && isCloseAccount" ></app-google-account>

<!-- Main menu -->
<div *ngIf="isInGame">
    <top-user></top-user>
    <about-us></about-us>
    <div class = "btn-logins">
        <btn-main-menu
        (touchstart)="clickSelectMode(0)"
        [iWidth]='246' [btnText] = "'Challenger'"> </btn-main-menu>
        <btn-main-menu 
        (touchstart)="clickSelectMode(1)"
        [iWidth]='246' [btnText] = "'Fun Now!'"> </btn-main-menu>
    </div>
</div>
    
    <!-- FUN MODE -->
<funnow-select-level
*ngIf="isFunMode"
(exitLevel) ="exitLevel($event)"></funnow-select-level>
<how-to-play *ngIf="isHowToPlay"></how-to-play>

<!-- CHALLENGER MODE -->
<div *ngIf="isChallenger">

</div>

