    .main-loading {
        border-image-source: none;
        left: -35px;
        top: -50px;
        position: relative;
        height: 100px;
        width: 70px;
        }
        .loading-text {
        font-family: "Titillium Web";
        color: rgb(255, 255, 255);
        text-align: center;
        left: 0px;
        position: relative;
        width: 70px;
        top: 0px;
        transform: translate3d(0px, 0px, 0px);
        transform-style: preserve-3d;
        }
        .box-grp-anim {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 70px;
        height: 70px;
        }
        .white-box {
        width: 20px;
        height: 20px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        left: 0px;
        top: 0px;
        }
        @keyframes gwd-gen-omydgwdanimation_gwd-keyframes {
        0% {
            opacity: 1;
            animation-timing-function: linear;
        }
        3.0769% {
            opacity: 0;
            animation-timing-function: linear;
        }
        10.7692% {
            opacity: 0;
            animation-timing-function: linear;
        }
        13.8462% {
            opacity: 1;
            animation-timing-function: linear;
        }
        100% {
            opacity: 1;
            animation-timing-function: linear;
        }
        }
        .anim0-gwd-gen-omydgwdanimation {
        animation: gwd-gen-omydgwdanimation_gwd-keyframes 3.25s linear 0s infinite normal forwards running;
        }
        @keyframes gwd-gen-bizkgwdanimation_gwd-keyframes {
        0% {
            opacity: 1;
            animation-timing-function: linear;
        }
        86.1538% {
            opacity: 1;
            animation-timing-function: linear;
        }
        89.2308% {
            opacity: 0;
            animation-timing-function: linear;
        }
        96.9231% {
            opacity: 0;
            animation-timing-function: linear;
        }
        100% {
            opacity: 1;
            animation-timing-function: linear;
        }
        }
        .box-grp-anim .gwd-gen-bizkgwdanimation {
        animation: gwd-gen-bizkgwdanimation_gwd-keyframes 3.25s linear 0s infinite normal forwards running;
        }
        @keyframes gwd-gen-1gtmgwdanimation_gwd-keyframes {
        0% {
            opacity: 1;
            animation-timing-function: linear;
        }
        75.3846% {
            opacity: 1;
            animation-timing-function: linear;
        }
        78.4615% {
            opacity: 0;
            animation-timing-function: linear;
        }
        86.1538% {
            opacity: 0;
            animation-timing-function: linear;
        }
        89.2308% {
            opacity: 1;
            animation-timing-function: linear;
        }
        100% {
            opacity: 1;
            animation-timing-function: linear;
        }
        }
        .box-grp-anim .gwd-gen-1gtmgwdanimation {
        animation: gwd-gen-1gtmgwdanimation_gwd-keyframes 3.25s linear 0s infinite normal forwards running;
        }
        @keyframes gwd-gen-97stgwdanimation_gwd-keyframes {
        0% {
            opacity: 1;
            animation-timing-function: linear;
        }
        64.6154% {
            opacity: 1;
            animation-timing-function: linear;
        }
        67.6923% {
            opacity: 0;
            animation-timing-function: linear;
        }
        75.3846% {
            opacity: 0;
            animation-timing-function: linear;
        }
        78.4615% {
            opacity: 1;
            animation-timing-function: linear;
        }
        100% {
            opacity: 1;
            animation-timing-function: linear;
        }
        }
        .box-grp-anim .gwd-gen-97stgwdanimation {
        animation: gwd-gen-97stgwdanimation_gwd-keyframes 3.25s linear 0s infinite normal forwards running;
        }
        @keyframes gwd-gen-n156gwdanimation_gwd-keyframes {
        0% {
            opacity: 1;
            animation-timing-function: linear;
        }
        53.8462% {
            opacity: 1;
            animation-timing-function: linear;
        }
        56.9231% {
            opacity: 0;
            animation-timing-function: linear;
        }
        64.6154% {
            opacity: 0;
            animation-timing-function: linear;
        }
        67.6923% {
            opacity: 1;
            animation-timing-function: linear;
        }
        100% {
            opacity: 1;
            animation-timing-function: linear;
        }
        }
        .box-grp-anim .gwd-gen-n156gwdanimation {
        animation: gwd-gen-n156gwdanimation_gwd-keyframes 3.25s linear 0s infinite normal forwards running;
        }
        @keyframes gwd-gen-6pc2gwdanimation_gwd-keyframes {
        0% {
            opacity: 1;
            animation-timing-function: linear;
        }
        43.0769% {
            opacity: 1;
            animation-timing-function: linear;
        }
        46.1538% {
            opacity: 0;
            animation-timing-function: linear;
        }
        53.8462% {
            opacity: 0;
            animation-timing-function: linear;
        }
        56.9231% {
            opacity: 1;
            animation-timing-function: linear;
        }
        100% {
            opacity: 1;
            animation-timing-function: linear;
        }
        }
        .box-grp-anim .gwd-gen-6pc2gwdanimation {
        animation: gwd-gen-6pc2gwdanimation_gwd-keyframes 3.25s linear 0s infinite normal forwards running;
        }
        @keyframes gwd-gen-1x0qgwdanimation_gwd-keyframes {
        0% {
            opacity: 1;
            animation-timing-function: linear;
        }
        32.3077% {
            opacity: 1;
            animation-timing-function: linear;
        }
        35.3846% {
            opacity: 0;
            animation-timing-function: linear;
        }
        43.0769% {
            opacity: 0;
            animation-timing-function: linear;
        }
        46.1538% {
            opacity: 1;
            animation-timing-function: linear;
        }
        100% {
            opacity: 1;
            animation-timing-function: linear;
        }
        }
        .box-grp-anim .gwd-gen-1x0qgwdanimation {
        animation: gwd-gen-1x0qgwdanimation_gwd-keyframes 3.25s linear 0s infinite normal forwards running;
        }
        @keyframes gwd-gen-1nxqgwdanimation_gwd-keyframes {
        0% {
            opacity: 1;
            animation-timing-function: linear;
        }
        21.5385% {
            opacity: 1;
            animation-timing-function: linear;
        }
        24.6154% {
            opacity: 0;
            animation-timing-function: linear;
        }
        32.3077% {
            opacity: 0;
            animation-timing-function: linear;
        }
        35.3846% {
            opacity: 1;
            animation-timing-function: linear;
        }
        100% {
            opacity: 1;
            animation-timing-function: linear;
        }
        }
        .box-grp-anim .gwd-gen-1nxqgwdanimation {
        animation: gwd-gen-1nxqgwdanimation_gwd-keyframes 3.25s linear 0s infinite normal forwards running;
        }
        @keyframes gwd-gen-1jpogwdanimation_gwd-keyframes {
        0% {
            opacity: 1;
            animation-timing-function: linear;
        }
        10.7692% {
            opacity: 1;
            animation-timing-function: linear;
        }
        13.8462% {
            opacity: 0;
            animation-timing-function: linear;
        }
        21.5385% {
            opacity: 0;
            animation-timing-function: linear;
        }
        24.6154% {
            opacity: 1;
            animation-timing-function: linear;
        }
        100% {
            opacity: 1;
            animation-timing-function: linear;
        }
        }
        .anim-2-gwd-gen-1jpogwdanimation {
        animation: gwd-gen-1jpogwdanimation_gwd-keyframes 3.25s linear 0s infinite normal forwards running;
        }
        @keyframes gwd-gen-1we8gwdanimation_gwd-keyframes {
            0% {
                transform: translate3d(0px, 0px, 0px);
                animation-timing-function: ease-in-out;
            }
            80.7453% {
                transform: translate3d(0px, 8px, 0px);
                animation-timing-function: linear;
            }
            91.9255% {
                transform: translate3d(0px, -5px, 0px);
                animation-timing-function: ease-in-out;
            }
            100% {
                transform: translate3d(0px, 3px, 0px);
                animation-timing-function: linear;
            }
        }


