.submenu__text {
    vertical-align: middle;
    text-align: center;
    margin: auto;
    height: 27px;
    color: rgb(151, 171, 205);
    font-size: 18px;
    line-height: 27px;
    font-family: "Titillium Web";
    width: 100%;
    position: relative;
    top: 0px;
  }
  .main-btn {
    position: relative;
    left: 0px;
    top: 0px;
  }
  .submenu__icon {
    height: 64px;
    left: 0px;
    background: none rgb(151, 171, 205);
    border-color: transparent;
    width: 100%;
    mask-image: url("/assets/imgs/icons-menu/config.svg");
    top: 20%;
    position: relative;
  }
  :host {
    width: 100%;
    left: 0px;
    top: 0px;
    position: relative;
  }
