<svg id="gwd-svg-definitions">
    <defs>
        <linearGradient gradientUnits="userSpaceOnUse" gradientTransform="rotate(0 175 232)" x2="350" id="grad1237">
            <stop stop-color="rgb(58, 222, 232)" offset="0%"></stop>
            <stop stop-color="rgb(67, 57, 138)" offset="95%"></stop>
        </linearGradient>
    </defs>
</svg>
<ion-row justify-content-center align-items-center>
    <div class="main-big-logo">
        <svg data-gwd-shape="oval" preserveAspectRatio="none" viewBox="0 0 350 464" class="gwd-svg-pgpo big-logo__border-gradient">
            <ellipse cx="50%" cy="50%" rx="163.5" ry="220.5"></ellipse>
        </svg>
        <!-- <svg data-gwd-shape="oval" preserveAspectRatio="none" viewBox="0 0 350 464" class="big-logo__blur-filter big-logo__border-gradient">
            <ellipse cx="50%" cy="50%" rx="163.5" ry="220.5"></ellipse>
        </svg> -->
        <div class="text-big-logo text-center">KUp</div>
    </div>
    
</ion-row>
